In [10]:
1 + 2

3

In [11]:
 1+2

3

In [12]:

1+2

3

In [13]:
                   
                          1+2

3

In [16]:
sw = 1
if sw == 1:
    print("스위치 on")
else:
    print("스위치 off")

스위치 on

In [18]:
print(1+2);print(3+4);print(5+7);

3
7
12

In [19]:
print(1+2)

3

In [20]:
Print(1+2)

NameError: name 'Print' is not defined

In [21]:
PRINT(1+2)

NameError: name 'PRINT' is not defined

In [22]:
abc =1

In [23]:
1+2

3

In [24]:
abc

1

In [25]:
print(abc)

1

In [26]:
print(1+2)

3

In [27]:
a=1 # a에 1입력
b=2 # b에 2입력
a+b # a+b를 실행하고 출력(하지만 출력 안 됨)
print(a+b) # a+b를 실행하고 출력
1+2 # 1+2를 실행하고 출력(하지만 출력 안 됨)
print(1+2) #1+2 실행하고 출력

3
3

In [34]:
a= "아침" #변수에 아침 입력
b= "점심" #변수에 점심 입력
c= "저녁" #변수에 저녁 입력
print(a,b,c) #변수 3개 나란히 출력
print(a,b,c, sep="먹고 ") #변수 사이에 "먹고"를 입력하여 출력한다.
print(a,b,c, sep="먹고 " ,end ="땡") #변수 사이에 "먹고"를 입력하여 출력, 마지막엔 "땡" 출력

아침 점심 저녁
아침먹고 점심먹고 저녁
아침먹고 점심먹고 저녁땡

In [35]:
a= "아침" #변수에 아침 입력
b= "점심" #변수에 점심 입력
c= "저녁" #변수에 저녁 입력
print(a,b,c) #변수 3개 나란히 출력
print(a,b,c, sep="먹고 ") #변수 사이에 "먹고"를 입력하여 출력한다.
print(a,b,c, sep="먹고 " ,end ="") #변수 사이에 먹고 입력, 마지막에 줄바꿈 하지 않음
print(a,b,c, sep="자고 " ,end ="") #변수 사이에 자고 입력, 마지막에 줄바꿈 하지 않음
print(a,b,c, sep="먹고 " ,end ="\n") #변수 사이에 먹고 입력, 마지막에 줄바꿈 함
print(a,b,c, sep="자고 " ,end ="\n") #변수 사이에 자고 입력, 마지막에 줄바꿈 함

아침 점심 저녁
아침먹고 점심먹고 저녁
아침먹고 점심먹고 저녁아침자고 점심자고 저녁아침먹고 점심먹고 저녁
아침자고 점심자고 저녁

In [30]:
a= 22 #변수에 22 입력
b= 33 #변수에 33 입력
print(a,b, sep="+" ,end="=") #변수사이에 +입력하고 마지막에 =입력(줄바꿈 안 됨)
print(a+b) #두 변수의 합을 출력한다.

22+33=55

In [36]:
a= input("너는 이름이 뭐니?") #값을 입력 받을 때, 출력하는 메세지
print("이름이 ",a," 입니다") #문구 사이에 입력받은 a를 함께 출력한다.
b= input("너는 몇 살이니?") #값을 입력 받을 때, 출력하는 메세지
print("나이가 ",b,"살 입니다") #문구 사이에 입력받은 b를 함께 출력한다.

너는 이름이 뭐니?정지훈
이름이  정지훈  입니다
너는 몇 살이니?28
나이가  28 살 입니다

In [37]:
a= input("a값을 입력하셔요?") #메세지를 출력하며 값을 입력 받는다.
b= input("b값을 입력하셔요?") #메세지를 출력하며 값을 입력 받는다.
print(a,b, sep="+" ,end="=") #변수 사이에 +, 마지막엔 =을 붙여 출력한다.(줄바꿈 없음)
print(a+b) #결과를 출력한다.(문자형이여서 12로 출력될 예정)
print("수치 계산", end =" : ") #새로운 메세지 출력
print(a,b, sep="+" ,end="=") #변수 사이에 +, 마지막엔 =을 붙여 출력한다.(줄바꿈 없음)
print(int(a)+int(b)) #입력 받은 변수를 정수형으로 변환 후, 계산하여 결과 출력(3)

a값을 입력하셔요?1
b값을 입력하셔요?2
1+2=12
수치 계산 : 1+2=3

In [33]:
a= input("품목?") #메세지를 출력하며 값을 입력 받는다. (문자형)
b=int(input("수량?")) #메세지를 출력하며 값을 입력 받는다. (정수형)
c=int(input("단가?")) #메세지를 출력하며 값을 입력 받는다. (정수형)
print(a, " : ",b,"개 * ",c,"원 = 총 ", b*c, "원") #메세지의 결과를 출력한다.

품목?초코파이
수량?10
단가?100
초코파이  :  10 개 *  100 원 = 총  1000 원

In [38]:
a=1 #변수에 1을 지정

In [39]:
print(a)

1

In [40]:
a=2 #변수에 2를 지정

In [41]:
print(a) #1에서 2로 갱신하여 저장해서 2출력

2

In [42]:
b=3 #변수에 3 지정

In [43]:
print(b)

3

In [44]:
print(a) #a는 변동사항 없으므로 2 출력

2

In [45]:
a=1122;print(a);type(a) #a에 1122지정, 출력, 타입은 정수형(a의 형태)

1122

int

In [46]:
b="hello";print(b);type(b) #b에 hello 지정, 출력, 타입은 문자형(b의 형태)

hello

str

In [47]:
b=12 #b를 12로 갱신

In [48]:
type(b) #갱신한 b의 타입 출력, 정수형

int

In [53]:
a=1122;print(a);type(a) #a에 1122지정, 출력, 타입은 정수형(a의 형태)

1122

int

In [54]:
a=11; print(a) #a를 11로 갱신, 출력

11

In [55]:
del a #a 삭제

In [56]:
print(a)

NameError: name 'a' is not defined

In [57]:
net=100; qty=1000; total=net*qty; print(total) #변수명을 알기쉽게 작성

100000

In [58]:
단가=100; 수량=1000; 총합=단가*수량; print(총합) #관습적으로 이렇게는 사용 안 함

100000

In [59]:
a=10 #a에 10 지정

In [60]:
b=1200 #b에 1200 지정

In [61]:
c=+1200 #c를 선언후 1200을 더한다

In [62]:
d=-1234 #d를 선언후 1234를 뺀다

In [63]:
 print("a=",a ," b=",b ," c=",c, " d=",d) #메세지와 변수를 출력한다.

a= 10  b= 1200  c= 1200  d= -1234

In [64]:
a=1234564789421651895132165151984216512315891219

In [65]:
b=5249623165123151321615115131315198542161216121651594516213151549441562

In [66]:
print("a+b=",a+b)

a+b= 5249623165123151321615116365879987963813111253816746500429663865332781

In [67]:
print("a*b=",a*b)

a*b= 6480999917393289026688727657911988167025925853155980709668835323665846205371151420954427958944919406256577789444078

In [69]:
0b1010 #2진수 선언, 8 + 2 = 10

10

In [70]:
0b1111 #2진수 선언, 8+4+2+1 = 15

15

In [71]:
0b0001 #2진수 선언, 1

1

In [72]:
0b0201 #2진수 선언, 2가 있어서 오류

SyntaxError: invalid digit '2' in binary literal (1202801407.py, line 1)

In [73]:
0x10 #16진수 선언, 16

16

In [74]:
 0x1a #16진수 선언, 16+10, 26

26

In [75]:
 0x2f #16진수 선언, 2*16 + 15 = 47

47

In [76]:
 0x3z #16진수 선언, z는 없어서 오류

SyntaxError: invalid hexadecimal literal (1238582170.py, line 1)

In [78]:
print(hex(12));print(oct(22));print(bin(33)) #12를 16진수(c), 22를 8진수, 33을 2진수(100001)로 바꾼다

0xc
0o26
0b100001

In [79]:
9.46e12 #9.46*10^12로 계산된다.

9460000000000.0

In [80]:
9.46e12 + 1231231321321321213213213213212314564648

1.2312313213213212e+39

In [81]:
a=1+2i #파이썬에선 i대신 j를 사용한다.(오류)

SyntaxError: invalid decimal literal (1681953706.py, line 1)

In [85]:
a=1+2j #변수에 해당 값을 넣는다.

In [84]:
b=1-2j #변수에 해당 값을 넣는다.

In [87]:
print(a+b, a*b) #전자는 2, 후자는 1+4 해서 5가 나온다.

(2+0j) (5+0j)

In [88]:
a="aaa" #변수에 문자열 지정

In [89]:
b="bbb" #변수에 문자열 지정

In [91]:
a+b #aaabbb출력

'aaabbb'

In [92]:
a*b #문자형 끼리의 곱 이여서 오류가 난다

TypeError: can't multiply sequence by non-int of type 'str'

In [93]:
a*3 #a가 3번 반복하여 출력한다.

'aaaaaaaaa'

In [94]:
b*5 #b를 5번 출력한다.

'bbbbbbbbbbbbbbb'

In [95]:
print('호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다.') #'' 안에서 "" 쓰기

호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다.

In [97]:
print (" 호랑이가 \"떡하나 주면 안잡아 먹지\" 라고 말했습니다.") #"" 안에서 \"로 사용

 호랑이가 "떡하나 주면 안잡아 먹지" 라고 말했습니다.

In [98]:
print ("I say \"I Love You\"") #"" 안에서 \"로 사용

I say "I Love You"

In [99]:
 print ("I say "I Love You"") #""안에서 \"를 사용하지 않아 에러

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4294271992.py, line 1)

In [100]:
 print("""오늘 열심히 파이썬을 공부했습니다. 
내일도 열심히 파이썬을 공부할 것입니다. 
그래서 일등할 것입니다""")

오늘 열심히 파이썬을 공부했습니다.
내일도 열심히 파이썬을 공부할 것입니다.
그래서 일등할 것입니다

In [101]:
print("오늘 열심히 파이썬을 공부했습니다.\
내일도 열심히 파이썬을 공부할 것입니다.\
그래서 일등할 것입니다")

오늘 열심히 파이썬을 공부했습니다.내일도 열심히 파이썬을 공부할 것입니다.그래서 일등할 것입니다

In [102]:
a = "오늘은" "즐거운" "일요일" #문자열 나열로도 가능하다

In [103]:
print(a)

오늘은즐거운일요일

In [104]:
 print("오늘 열심히 파이썬을 공부했습니다. \n" #\n으로 줄바꿈
"내일도 열심히 파이썬을 공부할 것입니다. \n" #연달아서 출력
"그래서 일등할 것입니다")

오늘 열심히 파이썬을 공부했습니다.
내일도 열심히 파이썬을 공부할 것입니다.
그래서 일등할 것입니다

In [105]:
 a = True #a에 참 입력

In [106]:
b = False #b에 거짓 입력

In [107]:
a and b #참이고 거짓이면 거짓출력

False

In [108]:
a or b #참 또는 거짓이면 참 출력

True

In [110]:
a and not b #참 이고 거짓이 아님 이면 참 출력

True

In [111]:
a = 0 #0입력

In [112]:
b = a==0 #a는 0 이기 때문에, 참

In [113]:
b

True

In [114]:
a = True # 참 입력

In [115]:
b = False # 거짓 입력

In [116]:
if 1 > 2 and a and b or b or a: #1>2(거짓) 이고 a(참) 이고 b(거짓) 이거나 b(거짓) 이거나 a(참) 이면
    print ("참")
else:
    print ("거짓")

참

In [121]:
rainbow = ["빨","주","노","초","파","남","보"] #문자열 리스트 생성

In [122]:
print(rainbow) #출력

['빨', '주', '노', '초', '파', '남', '보']

In [119]:
True

True

In [124]:
rainbow = ["빨강","주황","노랑","초록","파랑","남색","보라"] #문자열 리스트 생성

In [125]:
for color in rainbow : #rainbow 값을 하나씩 color에 넣는다.
    print ( color, "색") #받아온 문자를 색과 함께 출력한다.

빨강 색
주황 색
노랑 색
초록 색
파랑 색
남색 색
보라 색

In [127]:
rainbow = ("빨강","주황","노랑","초록","파랑","남색","보라") # 튜플 지정

In [128]:
for color in rainbow : #rainbow의 값을 하나씩 꺼내서 color에 지정한다.
    print(color, "색") #지정받은 튜플값을 출력한다.

빨강 색
주황 색
노랑 색
초록 색
파랑 색
남색 색
보라 색

In [129]:
a=3 #3 입력

In [130]:
b=4 #4 입력

In [131]:
c=123+456*6 #c값 지정

In [133]:
a,b,c #a b c 출력

(3, 4, 2859)

In [134]:
a+b=c #시스템 오류, 수식=변수의 구조

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3742792298.py, line 1)

In [135]:
123+456 = a #구조 오류

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1832163014.py, line 1)

In [136]:
a=1 #1 할당

In [137]:
a = a+"안녕" #숫자형에 문자형 병합이라 실패

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [138]:
a = "abc" #a에 문자형 abc를 입력

In [139]:
a = a + "안녕" #abc + 안녕이 병합된다.

In [140]:
print(a) #메세지 출력

abc안녕

In [146]:
a=1 #1 할당

In [147]:
b=2 #2 할당

In [148]:
a,b # a,b, 출력

(1, 2)

In [149]:
a,b=b,a #서로의 값을 바꾼다

In [150]:
a,b #다시 a,b 출력 (값이 바뀐 상태)

(2, 1)

In [151]:
a,b,c,d,e,f=1,2,"안녕","하셔요",3,4 #각 변수에, 1 2 안녕 하셔요 3 4 할당

In [152]:
a,b,c,d,e,f #5개 값 출력

(1, 2, '안녕', '하셔요', 3, 4)

In [153]:
a=b=1 #a b에 1 할당

In [154]:
a,b #a b 출력

(1, 1)

In [155]:
b=2 #2로 갱신

In [157]:
a,b #갱신한 값으로 출력

(1, 2)

In [158]:
a=b=[1,2,3] #a b에 값 배열 값 입력

In [159]:
a,b #a b 출력

([1, 2, 3], [1, 2, 3])

In [160]:
a[1] = 4 #a의 2번째 값을 4로 변경,b도 함께 변경된다.

In [161]:
a,b #a b 출력

([1, 4, 3], [1, 4, 3])

In [166]:
a=[1,2,3,4,5] # a에 배열 값 입력

In [167]:
b=a[:] #b에 a 값을 복사해서 할당

In [168]:
a,b #a b 출력

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [169]:
a[2] = 5 #a의 3번째 값을 5로 변경, b와는 독립적

In [170]:
a,b #a b 출력

([1, 2, 5, 4, 5], [1, 2, 3, 4, 5])

In [195]:
import sys #sys 불러오기

In [196]:
a = 123 #a에 123 입력

In [200]:
sys.getrefcount(123) # 123을 어느 공간에 만들어 참조한다.

82

In [201]:
b=123; sys.getrefcount(123) #b=123을 만나면 참조횟수가 증가한다.

83

In [202]:
c=123; sys.getrefcount(123) #c=123을 만나면 참조 횟수가 증가한다.

83

In [203]:
1+2*3/4 #1+6/4=1+1.5 = 2.5

2.5

In [204]:
2**3 #2^3 = 8

8

In [205]:
10/3 #결과 출력 3.3333

3.3333333333333335

In [206]:
1e12*123456789012 #1*10^12  * 123456789012 실행

1.23456789012e+23

In [207]:
a = 1+2j #복소수

In [208]:
a+(123+12j) #123은 1 증가, 12j는 2j만큼 증가

(124+14j)

In [209]:
5/2 #2.5

2.5

In [210]:
5//2 #몫을 구한다 2

2

In [211]:
5%2 #나머지를 구한다 1

1

In [212]:
a=1;a=a+1;print(a) #a에 1할당, a 1증가, 출력

2

In [213]:
a=1;a+=1;print(a) # a=a+1 을 a+=1로 표시 가능

2

In [214]:
a*=2;a #a=a*2와 같은 의미, 2*2 = 4  출력

4

In [215]:
a*=2;a #a=a*2와 같은 의미, 4*2 = 8  출력

8

In [216]:
a=1;a-=1;a #a에 1 할당, a의 값 1뺌 (0), 출력

0

In [217]:
a-=1;a #a의 값 1뺌, (-1)

-1

In [218]:
a=1 #a에 1할당

In [219]:
a++ # 파이썬에선 사용불가

SyntaxError: invalid syntax (628643890.py, line 1)

In [220]:
a-- #파이썬에선 사용불가

SyntaxError: invalid syntax (985753724.py, line 1)

In [222]:
a=+ 1; print(a); a=- 1; a #1과 -1을 지정받은 a 출력

1

-1

In [223]:
a="123"; a+1 #문자형에 숫자형 더해서 오류

TypeError: can only concatenate str (not "int") to str

In [224]:
 a="123"; int(a)+1 #123을 숫자형으로 변경하여 1 더함, 124

124

In [225]:
a=12.3; int(a) #실수형을 정수형으로 변경하여 소수점 이하 절삭(12)

12

In [226]:
a="멍멍이" #문자 할당

In [227]:
b="고양이" #문자 할당

In [228]:
a+b #멍멍이고양이 출력

'멍멍이고양이'

In [229]:
a*3 + b*2 #멍멍이3번, 고양ㅇ이 2번 출력

'멍멍이멍멍이멍멍이고양이고양이'

In [230]:
"-"*20 #- 20번 출력

'--------------------'

In [231]:
a=1 #a에 1 할당

In [235]:
b="강아지" + a + "마리" #강아지 a(1) 마리 입력, a가 숫자형이라 오류

TypeError: can only concatenate str (not "int") to str

In [236]:
b="강아지" + str(a) + "마리" #강아지 a(1) 마리 입력, a를 문자형으로 변경

In [237]:
b #b 출력

'강아지1마리'

In [238]:
ord("가") #가의 내부코드 값 출력

44032

In [239]:
hex(ord("a")) #a의 내부코드값의 8진법

'0x61'

In [240]:
for c in range (ord('a'), ord('z')+1): #a부터 z까지의 내부코드값을 c에 넣어준다.
    print(hex(c),"=",chr(c),", ",end="") #c의 8진수 값 = c, 를 이어서 출력한다.

0x61 = a , 0x62 = b , 0x63 = c , 0x64 = d , 0x65 = e , 0x66 = f , 0x67 = g , 0x68 = h , 0x69 = i , 0x6a = j , 0x6b = k , 0x6c = l , 0x6d = m , 0x6e = n , 0x6f = o , 0x70 = p , 0x71 = q , 0x72 = r , 0x73 = s , 0x74 = t , 0x75 = u , 0x76 = v , 0x77 = w , 0x78 = x , 0x79 = y , 0x7a = z ,

In [241]:
a="12.3";int(a) # 12.3을 문자형태로 넣어주고 a를 정수형으로 전환,12.3이 실수형이라 실패

ValueError: invalid literal for int() with base 10: '12.3'

In [242]:
float(a) #실수형 float으로 변환

12.3

In [243]:
a=1.1; 1+a+12 #1.1 할당후 계산, 14.1

14.1

In [246]:
1+int(a)+12 #1.1을 정수형으로 변환(1) 후 계산, 14

14

In [247]:
int(3.14) #float에서 int 로 바꿔서 소수점 아래가 버림된다.

3

In [250]:
print(round(3.14)); print(round(3.14,1)); round(123456,-4) #3.14 반올림(3), 3.14 1의자리에서 반올림(3.1) #123456, 천의자리(-4)에서 반올림

3
3.1

120000

In [251]:
a=1234567 #1234567 할당

In [252]:
if(a%1000 != 0 ) : #1000으로 나눠 떨어지지 않으면
    a=int(a/1000)*1000+1000 # a를 1000으로 나누고 정수로 바꾼뒤 (소수점 버림), 다시 1000을 곱한 다음 1000을 더한다.(한자리 올려줌)
else: #1000으로 나눠 떨어진다면
    a=int(a/1000)*1000 #천의 자리 이하는 0으로 바꿔라

In [253]:
a #a 출력

1235000

In [255]:
name = input("이름이 뭐니?") #메세지를 출력하며 값을 입력받는다.
if name == "정지훈" : #입력받은 값이 정지훈이면 아래 메세지를 출력한다.
    print("주인님 어서오십시요")

이름이 뭐니?정지운

In [257]:
name = input("성별이 어떻게 되나요?") #메세지를 출력하면서 값을 입력받는다.
if name == "남자" : #남자라면 아래 메세지 출력
    print("넥타이가 멋있습니다.")
else: #남자가 아니라면 아래 메세지 출력
    print("립스틱색이 예쁘네요.")

성별이 어떻게 되나요?여자
립스틱색이 예쁘네요.

In [259]:
price = int(input("얼마를 구매하셨나요?")) #메세지를 출력하면서 가격을 입력받는다.
if price < 10000 : #10000원 보다 작으면 아래 메세지 출력
    print("면세입니다.")
else: #그게 아니라면 아래 메세지 출력
    print("세금은 10%입니다.")

얼마를 구매하셨나요?100000
세금은 10%입니다.

In [260]:
a=100 #a에 100입력

In [261]:
if (a==99): print("a는 99입니다") #a가 99라면 옆에 메세지 출력

In [262]:
if (a==100): print("a는 100입니다") #a가 100이라면 옆에 메세지 출력

a는 100입니다

In [263]:
if (a>=100): print("a는 100이상입니다") #a가 100이상이면 옆에 메세지 출력

a는 100이상입니다

In [264]:
if (a<100): print("a는 100미만입니다") #a가 100보다 작으면 옆에 메세지 출력

In [265]:
a="abc" #a에 abc 입력

In [266]:
if(a == "abc"): print("abc이다") #a가 abc라면 옆의 메세지 출력

abc이다

In [267]:
if(a > "abc"): print("abc보다 큰문자이다") #a가 abc보다 크면 옆의 메세지 출력

In [268]:
a="abd" #a에 abd입력

In [269]:
if(a > "abc"): print("abc보다 큰문자이다") #a가 abc보다 크면 옆의 메세지 출력

abc보다 큰문자이다

In [270]:
a="abb" #a에 abb 입력

In [271]:
if(a > "abc"): print("abc보다 큰문자이다") #a가 abc보다 크면 옆의 메세지 출력

In [274]:
x = int(input("점수를 입력하셔요?")) #메세지 출력하면서 x에 입력 받은 값 할당
if 0 <= x and x < 60 : print("학점은 F입니다.") #0~60 이면 옆 메세지 출력
if 60 <= x and x < 70 : print("학점은 D입니다.") #60~70 이면 옆 메세지 출력
if 70 <= x and x < 80 : print("학점은 C입니다.") #70~80 이면 옆 메세지 출력
if 80 <= x and x < 90 : print("학점은 B입니다.") #80~90 이면 옆 메세지 출력
if 90 <= x and x <= 100 : print("학점은 A입니다.") #90~100 이면 옆 메세지 출력

점수를 입력하셔요?44
학점은 F입니다.

In [277]:
x = input("영문 알파벳 한글자를 입력하셔요?") # 메세지를 출력하면서 값을 받아온다.
if "a" <= x and x <= "z" : print("소문자 입니다.") #소문자면 옆의 값을 출력한다.
if "A" <= x and x <= "Z" : print("대문자 입니다.") #대문자면 옆의 값을 출력한다.

영문 알파벳 한글자를 입력하셔요?S
대문자 입니다.

In [278]:
a=100 #a에 100 할당

In [279]:
if a>50: #a가 50초과면
    print("50보다 큰 수는 50을 빼겠습니다.") #메세지 출력
        a = a - 50 #블록을 안맞췄다 에러

IndentationError: unexpected indent (1760317591.py, line 3)

In [280]:
if a>50: #a가 50초과면
    print("50보다 큰 수는 50을 빼겠습니다.") #메세지 출력
    a = a - 50 #a는 -50을 한다

50보다 큰 수는 50을 빼겠습니다.

In [281]:
print(a)

50

In [284]:
x=int(input("점수를 입력하셔요?(0~100)")) #메세지를 출력하면서 값을 입력받는다.
if x >= 90: print ("학점은 A입니다") #90 이상이면 A
elif x >= 80: print ("학점은 B입니다") #80 이상이면 B
elif x >= 70: print ("학점은 C입니다") #70 이상이면 C
elif x >= 60: print ("학점은 D입니다") #60 이상이면 D
else: print ("학점은 F입니다") # 위에 해당 안된다면 F

점수를 입력하셔요?(0~100)77
학점은 C입니다

In [288]:
x=int(input("숫자를 입력하셔요?")) #메세지를 출력하면서 값을 입력받는다.
if x % 2 == 0: #입력받은 값이 2로 나누어 떨어지면 
    if x%4==0: #그리고 4로도 나누어 떨어지면 아래 메세지 출력
        print("4의 배수인 짝수입니다(당연히 짝수)")
    else: #그게 아니라면 아래 메세지 출력
        print("4의 배수가 아닌 짝수입니다");
elif x%3==0: #위가 아니고 3으로 나누어 떨어지면 아래 메세지 출력
    print("3의 배수인 홀수 입니다")
else: #위가 전부 아니라면 아래 메세지 출력
    print ("3의 배수가 아닌 홀수입니다")

숫자를 입력하셔요?11
3의 배수가 아닌 홀수입니다

In [293]:
myWon = 1000000 #100만원을 환전한다
moneyEx = 1010.12 #1달러 당 환율
bankrate = 0.002 #은행수수료(0.002%)
usd = int(myWon / (moneyEx * (1 + bankrate))) # 지금할 달러를 계산한다(은행 수수료 미리 포함)
commission = ((usd * moneyEx) * bankrate) #은행 수수료를 계산한다.(1단계)
#은행수수료를 계산한다 (2단계)
if(commission%1 != 0): #소수점 아래가 있으면, 올림한다.
    commission = int(commission) + 1
else: #소수점이 없으면 정수형으로 변환한다.
    commission = int(commission)
remain = int(myWon - ((usd * moneyEx) + commission)) #거스름돈 계산(정수형으로 소수점 이하 절삭)
print("***********************************************")
print("총금액:", myWon,"원"," 달러환율:", moneyEx,"$")
print("지급달러:", usd,"$", )
print("거스름돈:", remain,"원", " 은행수수료:", commission,"원")
print("***********************************************")

***********************************************
총금액: 1000000 원  달러환율: 1010.12 $
지급달러: 988 $
거스름돈: 5 원  은행수수료: 1996 원
***********************************************

In [294]:
i=1 #i에 1 입력
while i < 5: #i가 5보다 작으면 계속 반복
    i+=1 #i 1증가
    print(i) #i 출력

2
3
4
5

In [298]:
i=0 #i에 0 선언 
sum=0 #sum에 0 선언, 합계
while i <100: #i가 100보다 작으면 계속 반복
    i+=1 #i가 1 증가
    sum = sum + i #sum을 i만큼 증가 시킨다.(1, 2, 3, 4.. 100까지 더해준다.)
print("sum=",sum) #while 이 끝나고 결과 출력

sum= 5050

In [299]:
i=0 #i에 0 선언 
sum=0 #sum에 0 선언, 합계
while i <100: #i가 100보다 작으면 계속 반복
    sum = sum + i #sum을 i만큼 증가 시킨다.(1, 2, 3, 4..  99까지 더해준다.)
    i+=1 #i가 1 증가
print("sum=",sum) #while 이 끝나고 결과 출력

sum= 4950

In [300]:
i=0 #i에 0 선언 
sum=0 #sum에 0 선언, 합계
while i <101: #i가 100보다 작으면 계속 반복
    sum = sum + i #sum을 i만큼 증가 시킨다.(1, 2, 3, 4.. 100까지 더해준다.)
    i+=1 #i가 1 증가
print("sum=",sum) #while 이 끝나고 결과 출력

sum= 5050

In [301]:
i=0 #i 선언 후 0 입력
for a in ["1",2,"3",55]: #1(문자) 2(숫자) 3(문자) 55(숫자) 순서로 a에 입력한다.
    print("a[",i,"] 자료형:",type(a)," 값:",a) #i번째 값의 자료타입과 그 값을 출력한다.
    i+=1 #i 1증가 (0 1 2 3) 값의 배열 위치를 의미한다

a[ 0 ] 자료형: <class 'str'>  값: 1
a[ 1 ] 자료형: <class 'int'>  값: 2
a[ 2 ] 자료형: <class 'str'>  값: 3
a[ 3 ] 자료형: <class 'int'>  값: 55

In [302]:
for i in range(1,10,1): #i에 1부터 10 - 1 까지 1씩 증가하며 값 입력
    print(i,",",end="") # 1, 2, 3, 4,... 9, 형식으로 출력

1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,

In [303]:
for i in range(10): #0 1 2 3 .. 9 까지 입력
    print(i,",",end="") # 받은 값을 형식에 맞게 출력한다.

0 ,1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,

In [304]:
for i in range(1,10): #1 2 3... 9까지 입력
    print(i,",",end="") #받은 값을 형식에 맞게 출력한다.

1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,

In [305]:
for i in range(1,10,2): #1부터 9까지 2씩 증가하며 i에 입력
    print(i,",",end="") #받은 값을 형식에 맞게 출력한다.

1 ,3 ,5 ,7 ,9 ,

In [306]:
for i in range(10,0,-1): #i에 10부터 1까지 1씩 빼면서 입력
    print(i,",",end="") #10 9 8 7 .. 1 까지 형식에 맞게 출력한다.

10 ,9 ,8 ,7 ,6 ,5 ,4 ,3 ,2 ,1 ,

In [307]:
for i in range(10): #i에 0부터 9까지 입력
    if(i==3): #i가 3이면 for문 탈출
        break
    print(i,",",end="") #i를 형식에 맞게 출력(for 안에 있다)

0 ,1 ,2 ,

In [308]:
for i in range(10): #i에 0부터 9까지 입력하는 for문
    if(i==3): #i가 3이면 아래를 실행하지않고 for문 으로 돌아가라
        continue
    print(i,",",end="") #i(0 1 2 4 5 6 ..)를 형식에 맞게 출력

0 ,1 ,2 ,4 ,5 ,6 ,7 ,8 ,9 ,

In [309]:
i=0;sum=0 #i sum 선언후 각각 0 입력

In [310]:
while True: #무한 루프
    i+=1;sum+=i #i에 1을 더한다. sum에 i를 더한다
    if(i==100): break #i가 100이면 while문을 나간다

In [311]:
 print("i=",i,"sum=",sum) #i와 sum을 형식에 맞게 출력한다.

i= 100 sum= 5050

In [312]:
for i in range(1,121): #1부터 121 - 1 까지 도는 for문 작성
    print("*",end="") #*을 출력한다.
    if(i%30==0): print(end="\n") #i가 30의 배수일때 줄을 바꾼다

******************************
******************************
******************************
******************************

In [315]:
for i in range(1,10): #i에 1부터 9까지 1씩 증가하며 입력하는 for문
    for j in range(1,10): #j에 1부터 9까지 1씩 증가하며 입력하는 for문 
        print( i,"*",j,"=",i*j) #i * j = 곱한 결과, 를 출력한다.
    print("***********") #구분선

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
***********
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
***********
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
***********
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
***********
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
***********
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
***********
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
***********
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
***********
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
***********

In [316]:
for i in range(1,10): #1부터 9까지 입력하는 for문 작성
    for j in range(i,10): #i부터 9까지 작성하는 for문 작성
        print( "*",end="") # 2번째 for문 안에서 10 - i 번 별을 출력
    print(end="\n") #줄을 바꿔준다.

*********
********
*******
******
*****
****
***
**
*

In [317]:
i=1 #i에 1입력
while True: #첫번째 무한루프 생성
    j=i #j에 i할당, 늘어났던 j에 i를 넣어주는 역할
    while True: #두번째 무한루프 생성
        if(j==10): #j가 10이라면 무한루프 탈출
            break
        print( "*",end="") # j가 10이 될때까지 *을 찍는다,
        j+=1 #j 1증가
    if(i==10):
        break #i가 10이면 첫번째 무한루프 탈출(끝을 의미)
    print(end="\n") #줄바꿈을 해준다.
    i+=1 #i가 1증가

*********
********
*******
******
*****
****
***
**
*

In [318]:
Mon=1 # 1월달, 12까지 늘어날 예정
for LastDay in [31,28,31,30,31,30,31,31,30,31,30,31]: #매 월의 마지막 날을 담아놓은 배열에서 하나씩 LastDay에 입력
    print(Mon,"월 :",end="") #현재 월 출력
    for Day in range(1,LastDay+1): #1부터 마지막날까지 형식에 맞게 출력한다.
        print(Day,end=",")
    print(end="\n") #한달이 끝나면 줄바꾼다
    Mon+=1 #Mon 1증가 (for문이 12번 돌 예정이라 1부터 12까지 증가하고 마지막엔 13에서 끝난다.)

1 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
2 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,
3 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
4 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,
5 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
6 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,
7 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
8 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
9 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,
10 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,
11 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,
12 월 :1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,

In [320]:
for i in range(2,10,3): #2부터 9까지 3씩 증가하며 i에 입력하는 for문
    for j in range(2,10): #2부터 9까지 1씩 증가하며 j에 입력하는 for문
        print(i,"*",j,"=",i*j,end="\t") #i*j=결과 출력, 마지막에 탭 넣기
        print(i+1,"*",j,"=",i*j,end="\t") #i+1 단 출력
        if(i+2!=10): #10단 이 아니면 출력, 10단이면 종료
            print(i+2,"*",j,"=",i*j,end="\n") #1+2단 출력
        else:
            print(end="\n") # 줄바꿈
    print(end="\n") #줄바꿈

2 * 2 = 4	3 * 2 = 4	4 * 2 = 4
2 * 3 = 6	3 * 3 = 6	4 * 3 = 6
2 * 4 = 8	3 * 4 = 8	4 * 4 = 8
2 * 5 = 10	3 * 5 = 10	4 * 5 = 10
2 * 6 = 12	3 * 6 = 12	4 * 6 = 12
2 * 7 = 14	3 * 7 = 14	4 * 7 = 14
2 * 8 = 16	3 * 8 = 16	4 * 8 = 16
2 * 9 = 18	3 * 9 = 18	4 * 9 = 18

5 * 2 = 10	6 * 2 = 10	7 * 2 = 10
5 * 3 = 15	6 * 3 = 15	7 * 3 = 15
5 * 4 = 20	6 * 4 = 20	7 * 4 = 20
5 * 5 = 25	6 * 5 = 25	7 * 5 = 25
5 * 6 = 30	6 * 6 = 30	7 * 6 = 30
5 * 7 = 35	6 * 7 = 35	7 * 7 = 35
5 * 8 = 40	6 * 8 = 40	7 * 8 = 40
5 * 9 = 45	6 * 9 = 45	7 * 9 = 45

8 * 2 = 16	9 * 2 = 16
8 * 3 = 24	9 * 3 = 24
8 * 4 = 32	9 * 4 = 32
8 * 5 = 40	9 * 5 = 40
8 * 6 = 48	9 * 6 = 48
8 * 7 = 56	9 * 7 = 56
8 * 8 = 64	9 * 8 = 64
8 * 9 = 72	9 * 9 = 72

In [321]:
for i in range(2,5): #i 에 2 3 4 입력 하는 for문
    for j in range(2,10): #2부터 9까지 곱할 for문 작성
        print(i,"*",j,"=",i*j,end="\t") #i*j=결과값 + 탭 을 출력한다.
        print(i+3,"*",j,"=",i*j,end="\t") #2, 5, 8 / 3, 6, 9 / 4, 7 으로 출력
        if(i+6!=10): print(i+6,"*",j,"=",i*j,end="\n") # 10일때는 출력하지 않는다
        else: print(end="\n") #줄바꿈
    print(end="\n") #줄바꿈

2 * 2 = 4	5 * 2 = 4	8 * 2 = 4
2 * 3 = 6	5 * 3 = 6	8 * 3 = 6
2 * 4 = 8	5 * 4 = 8	8 * 4 = 8
2 * 5 = 10	5 * 5 = 10	8 * 5 = 10
2 * 6 = 12	5 * 6 = 12	8 * 6 = 12
2 * 7 = 14	5 * 7 = 14	8 * 7 = 14
2 * 8 = 16	5 * 8 = 16	8 * 8 = 16
2 * 9 = 18	5 * 9 = 18	8 * 9 = 18

3 * 2 = 6	6 * 2 = 6	9 * 2 = 6
3 * 3 = 9	6 * 3 = 9	9 * 3 = 9
3 * 4 = 12	6 * 4 = 12	9 * 4 = 12
3 * 5 = 15	6 * 5 = 15	9 * 5 = 15
3 * 6 = 18	6 * 6 = 18	9 * 6 = 18
3 * 7 = 21	6 * 7 = 21	9 * 7 = 21
3 * 8 = 24	6 * 8 = 24	9 * 8 = 24
3 * 9 = 27	6 * 9 = 27	9 * 9 = 27

4 * 2 = 8	7 * 2 = 8
4 * 3 = 12	7 * 3 = 12
4 * 4 = 16	7 * 4 = 16
4 * 5 = 20	7 * 5 = 20
4 * 6 = 24	7 * 6 = 24
4 * 7 = 28	7 * 7 = 28
4 * 8 = 32	7 * 8 = 32
4 * 9 = 36	7 * 9 = 36

In [324]:
print("별10개 찍기") #메세지 출력
for i in range(10): #0부터 9까지 반복한다.
    print("*",end="") #for문에서 별 찍기
print("\n") #줄바꿈

print("별3개 찍기") #메세지 출력
for i in range(3): #0부터 9까지 반복한다.
    print("*",end="") #for문에서 별 찍기
print("\n") #줄바꿈

print("별5개 찍기") #메세지 출력
for i in range(5): #0부터 9까지 반복한다.
    print("*",end="") #for문에서 별 찍기
print("\n") #줄바꿈

별10개 찍기
**********

별3개 찍기
***

별5개 찍기
*****

In [325]:
def starprint(n): #함수 선언. n을 인수로 받음
    for i in range(n): # 0부터 변수로 받은 n-1까지 입력하는 for문
        print("*",end="") #별출력(줄은 바꾸지않는다)
    print("\n") #줄바꿈

print("별10개 찍기");starprint(10) #n에 10 넣고 함수 실행
print("별3개 찍기");starprint(3) #n에 3 넣고 함수 실행
print("별5개 찍기");starprint(5) #n에 5 넣고 함수 실행

별10개 찍기
**********

별3개 찍기
***

별5개 찍기
*****

In [326]:
def intsum(n): #함수 선언, n을 인수로 받음
    sum=0; #sum 선언후 0 지정
    for i in range(1,n+1,1): #i에 1부터 n까지 입력하는 for문 작성
        sum+=i #sum에 i를 더한다(1 2 3 .. i) 
    return sum #sum을 반환한다.

print("1~10까지의 합:",intsum(10)) #1부터 10까지 합을 반환한다.
print("1~1000까지의 합:",intsum(1000)) #1부터 1000까지 합을 반환한다.
print("1~10000까지의 합:",intsum(10000)) #1부터 10000까지 합을 반환한다.

1~10까지의 합: 55
1~1000까지의 합: 500500
1~10000까지의 합: 50005000

In [327]:
def intsum(x,y): #함수선언, 인수로 x와y를 받는다
    sum=0; #sum 선언후 0입력
    for i in range(x,y+1,1): #i에 x부터 y까지 1씩 증가하며 입력
        sum+=i #sum에 i를 더한다.
    return sum #sum을 반환

print("1~10까지의 합:",intsum(1,10)) #1부터 10까지의 합
print("100~1000까지의 합:",intsum(100,1000)) #100부터 1000까지의 합
print("5000~10000까지의 합:",intsum(5000,10000)) #5000부터 10000까지의 합

1~10까지의 합: 55
100~1000까지의 합: 495550
5000~10000까지의 합: 37507500

In [328]:
def intsum(x,y): #함수 선언, x y 를 인수로 받는다
    sum=0; # sum 선언후 0입력
    for i in range(x,y+1,1): #x부터 y까지 1씩 증가하며 입력하는 for문 작성
        sum+=i #sum에 i를 더한다. 
    return sum #sum 반환

print("1~10까지의 합에 5를 더함:",intsum(1,10)+5) #1부터 10까지 합에 5를 더한다
i=intsum(100,1000)*33 #100부터 1000까지의 합에 33을 곱한다
print("100~1000까지의 합에 33을 곱함:",i) #위 i값을 출력한다.

1~10까지의 합에 5를 더함: 60
100~1000까지의 합에 33을 곱함: 16353150

In [330]:
def intsum(x,y): #함수 선언, x y를 인수로 받는다
    sum=0; #sum 선언 후, 0 입력
    for i in range(x,y+1,1): #i에 x부터 y까지 1씩 증가하는 for문 작상
        sum+=i #sum에 i를 더한다
    print("함수내부에서 sum값을 출력:",sum) #sum을 형식에 맞게 출력한다.

i=intsum(100,1000) #i에 리턴값이 없는 함수를 넣는다.(None이 뜸)
print("100~1000까지의 합:",i) #i를 출력
print("100~1000까지의 합에 33을 곱함:",i) #i를 출력

함수내부에서 sum값을 출력: 495550
100~1000까지의 합: None
100~1000까지의 합에 33을 곱함: None

In [ ]:
댕