In [17]:
def titleprint(): #함수를 선언해둔다
    print("="*50) #구분선 50개 출력
    print("이름\t국어\t영어\t수학\t총점\t평균") #이름 과목별 성적 칸 만들기
    print("="*50) #구분선 50개 출력

def itemprint(name,kor,eng,mat): #함수를 선언해둔다.(인수4개)
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)
    #인수로 받아온 이름 국어,영어,수학(성적)과 합계 평균을 계산해서 출력한다.
    
def tailprint(): #함수를 선언해둔다.
    totkor=0 #국어성적 합계 변수
    for i in ckor: #국어 배열을 돌면서 성적 합계 계산
        totkor+=i
        
    toteng=0 #영어성적 합계 변수
    for i in ceng: #영어 배열을 돌면서 성적 합계 계산
        toteng+=i
        
    totmat=0 #수학성적 합계 변수
    for i in cmat: #수학 배열을 돌면서 성적 합계 계산
        totmat+=i
    print("="*50) #구분선 출력
    #반 인원의 성적 총점 계산
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t" \
        ,(totkor+toteng+totmat),"\t",(totkor+toteng+totmat)/3//9)
    print("="*50) #구분선 출력

#데이터 입력
cname=["나연","정연","모모","사나","지효","미나","다현","채영","쯔위"]
ckor=[100, 90, 90, 100, 80, 80, 70, 80, 80]
ceng=[90, 70, 100, 100, 70, 70, 60, 90, 90]
cmat=[90, 80, 70, 100, 90, 90, 100, 90, 80]

#프로그램 실행구간
titleprint()
for i in range(9):
    itemprint(cname[i],ckor[i],ceng[i],cmat[i])
    
tailprint()

==================================================
이름	국어	영어	수학	총점	평균
==================================================
나연 	 100 	 90 	 90 	 280 	 93
정연 	 90 	 70 	 80 	 240 	 80
모모 	 90 	 100 	 70 	 260 	 86
사나 	 100 	 100 	 100 	 300 	 100
지효 	 80 	 70 	 90 	 240 	 80
미나 	 80 	 70 	 90 	 240 	 80
다현 	 70 	 60 	 100 	 230 	 76
채영 	 80 	 90 	 90 	 260 	 86
쯔위 	 80 	 90 	 80 	 250 	 83
==================================================
반총점	 770 	 740 	 790 	 2300 	 85.0
==================================================

In [18]:
def sumsum(*num): #num 여러개를 인수로 받는 함수 선언
    sum=0 #합계를 구할 변수선언
    for i in num: #인수로 받은 num들을 for에 하나씩 넣는다
        sum+=i #받은 인수를 모두 더한다.
    return sum #합계를 반환한다.

print("case 1:", sumsum(1)) #1를 더한 값 출력
print("case 2:", sumsum(1,2,4)) #1 2 4를 더한 값 출력
print("case 3:", sumsum(1,2,34,567,8901)) # 1 2 34 567 8910을 더한 값 출력

case 1: 1
case 2: 7
case 3: 9505

In [20]:
def sumsum(num): #num 1개를 인수로 받는다(배열로 받으면 배열값 모두 더함)
    sum=0 #합계를 구할 변수 선언
    for i in num: #num의 모든 수를 더하는 for문 작성
        sum+=i
    return sum #더한 값을 반환한다

print("case 1:", sumsum([1])) #1을 더한 값 출력
print("case 2:", sumsum([1,2,4])) #1 2 4를 모두 더한 값 출력
print("case 3:", sumsum([1,2,34,567,8901]))#1 2 34 567 8910을 모두 더한 값 출력

case 1: 1
case 2: 7
case 3: 9505

In [22]:
def defaultest(start,end=1000,step=1): #함수 선언, 1씩 증가하고 마지막은 1000
    sum=0 #합을 구할 변수선언
    for i in range(start,end+1,step): #시작 값부터 끝값까지 step만큼 증가한 for문
        sum+=i # 받아온 값들을 모두 더한다
    return sum #더한 결과를 반환한다

print("case 1:", defaultest(0,10,1)) #0부터 10까지 1씩 증가한 값들을 더한다(55)
#step 생략, 맨뒤 step의 기본값(1)로 처리
print("case 2:", defaultest(50,100))  # 50부터 100까지 1씩 증가하며 더함
#end 생략, 기본 값(1000)으로 처리
print("case 3:", defaultest(100)) #100부터 1씩 증가, 1000까지 증가하며 더함

case 1: 55
case 2: 3825
case 3: 495550

In [24]:
def defaultest(start,end=1000,step=1): #인수3개를 받는 함수, 디폴트 1000, 1 지정
    sum=0 #합을 구할 변수 선언
    for i in range(start,end+1,step): #start부터 end까지 step만큼 증가한 값을 모두 더함
        sum+=i 
    return sum #더한 값을 반환한다.

print("case 1:", defaultest(0,10,1)) #0부터 10까지 1씩증가하며 더한 값을 출력
print("case 2:", defaultest(start=0,end=10,step=1)) #키워드를 지정, 0부터 10까지 1씩 증가하며 모두 더함
print("case 3:", defaultest(step=1,end=10,start=0)) #키워드 지정, 순서를 바꿨지만 위와 같은 결과
print("case 4:", defaultest(0,10,step=1)) #맨뒤로부터만 키워드인수를 사용하고 앞은 일반인수
print("case 5:", defaultest(0,step=1,end=10)) #맨뒤 2개로부터만 키워드인수를 사용하고 앞은 일반인수
defaultest(start=0,step=1,10)) #중간부터 사용하면 에러 발생

SyntaxError: unmatched ')' (2529189695.py, line 12)

In [26]:
def testfunc(**args): #키워드 가변 인수 정의, 함수 선언
    start=args["start"] # 키워드 가변 (start)
    end=args["end"] # 키워드가변 (end)
    step=args["step"] # 키워드가변 (step)
    sum=0 #합을 구할 변수 선언
    for i in range(start,end+1,step): #start부터 end까지 step만큼 증가하며 더하는 for문 지정
        sum+=i 
    return sum #값을 반환한다.

print("case 1:", testfunc(start=0,end=10,step=1)) #0부터 10까지 1씩 증가하며 더한 값을 출력한다.
print("case 2:", testfunc(end=100,step=1,start=10)) #10부터 100까지 1씩 증가하며 더한 값을 출력한다.

case 1: 55
case 2: 5005

In [27]:
def testfunc(*s, **args): #가변 인수s 와 가변 키워드 인수 args를 선언
    start=args["start"] #가변 키워드 인수 start 지정
    end=args["end"] #가변 키워드 인수 end 지정
    step=args["step"] #가변 키워드 인수 step 지정
    for c in s: #가변인수 s를 출력하는 for문 작성
        print(" "*start,end="") #공백을 start만큰 출력하고 줄바꿈은 하지 않는다.
        for i in range(start,end+1,step): #start부터 end까지 step만큼 증가하는 for문 작성
            print(c,end="") #c를 for문을 도는 수 만큼 출력한다. 줄바꿈은 하지 않는다
        print("\n") #for문이 끝나면 줄바꿈을 한다.
    
print("="*30) #구분선 표시
testfunc("*","&","=",start=0,end=10,step=1) #*, &, = 을 인수로 받고 0부터 10까지 1씩 증가하며 출력한다.(11)
print("="*30) #구분선 표시 #구분선 표시
testfunc("*","?","=","%",start=3,end=10,step=1) #* ? = % 을 인수르 받고 3부터 10까지 1씩증가하며 출력(8)

==============================
***********

&&&&&&&&&&&

===========

==============================
   ********

   ????????

   ========

   %%%%%%%%

In [28]:
def test():
    a=1 #지역변수
    
test()
print(a) #전역변수인 a가 없어서 에러

NameError: name 'a' is not defined

In [29]:
def testf1(): #지역변수 a는 다른 함수의 a와는 관계없다
    a=1 #정수형 1 입력
    print("testf1:",a)
    
def testf2(): #지역변수 a는 다른 함수의 a와는 관계없다
    a="즐거운실습" #문자형 입력
    print("testf2:",a)
    
def testf3(): #지역변수 a는 다른 함수의 a와는 관계없다
    a=3.141592 #실수형 입력
    print("testf3:",a)
    
testf1() #함수 실행
testf2() #함수 실행
testf3() #함수 실행
a="랄랄라" #전역변수 a에 랄랄라 선언
print(a) #출력

testf1: 1
testf2: 즐거운실습
testf3: 3.141592
랄랄라

In [30]:
def testf1(): #함수 선언 , 변수 선언이 따로 없어 전역변수 exrate의 영향을 받는다.
    print("testf1: 현재달러환율은1달러당",exrate,"원이며") #메세지 출력
    print("testf1: 미화100달러는",100*exrate,"원입니다") #100을 곱하고 메세지 출력

def testf2(): #지역변수 선언, 전역변수의 영향을 받지 않는다.
    exrate=1011 #정수형 변수 선언 후 1011 입력
    print("testf2: 현재달러환율은1달러당",exrate,"원이며") #메세지 출력 
    print("testf2: 미화100달러는",100*exrate,"원입니다") #메세지 출력

exrate=1021 # 정수형 변수 선언 1021 입력
testf1() #함수 실행
exrate=1120 #선언했던 변수의 값 변경
testf1() #함수실행

testf2() #함수 실행
testf1() #함수 실행

testf1: 현재달러환율은1달러당 1021 원이며
testf1: 미화100달러는 102100 원입니다
testf1: 현재달러환율은1달러당 1120 원이며
testf1: 미화100달러는 112000 원입니다
testf2: 현재달러환율은1달러당 1011 원이며
testf2: 미화100달러는 101100 원입니다
testf1: 현재달러환율은1달러당 1120 원이며
testf1: 미화100달러는 112000 원입니다

In [33]:
def testf1():
    """ #주석 같이 사용
    이함수는홍필두가최선을다하여멋지게만든함수
    인수값에숫자만큼1부터해당값을더한값을출력해준다
    """
    sum=0 #합을 구할 변수 선언
    for i in range(n+1): #0부터 n까지 더하는 for문 작성
        sum+=i
    print("합:",sum) #합을 출력
    
# help로 함수의 docstring 내용 확인
help(testf1)

Help on function testf1 in module __main__:

testf1()
    #주석 같이 사용
    이함수는홍필두가최선을다하여멋지게만든함수
    인수값에숫자만큼1부터해당값을더한값을출력해준다

In [34]:
a = [1, 2, 3, 4, 5] #리스트 작성
a[0], a[1], a[2], a[3], a[4] #리스틩 0 1 2 3 4번째 값 출력

(1, 2, 3, 4, 5)

In [38]:
a = [11, "abc", 12.3333, "안녕", 2+3j] #리스트엔 다양한 자료형을 받을 수 있다.
a[1] = 1234; a[4] = "정지훈" #리스트의 값도 바꿀 수 있다.
a[0], a[1], a[2], a[3], a[4] #리스틩 0 1 2 3 4번째 값 출력

(11, 1234, 12.3333, '안녕', '정지훈')

In [39]:
score = [90, 80, 70, 60, 30] #점수를 리스트에 입력
sum = 0 #합을 구할 변수 선언
for s in score: #s에 score 리스트의 값을 순서대로 입력
    print("점수(",s,")") # 받아온 값을 포멧에 맞게 출력한다.
    sum+=s #점수를 누적한다.
print("총점:",sum); #합계를 출력한다.

점수( 90 )
점수( 80 )
점수( 70 )
점수( 60 )
점수( 30 )
총점: 330

In [40]:
a=[1,2,3,4,5] #리스트 선언
a[0], a[-5] #0번째 값(1) -5번째값(1) 출력

(1, 1)

In [42]:
a[1],a[-4] #1번째 값(2) -4번째값(2) 출력

(2, 2)

In [43]:
a[2],a[-3] #2번째 값(3) -3번째값(3) 출력

(3, 3)

In [44]:
a[3],a[-2] #3번째 값(4) -2번째값(4) 출력

(4, 4)

In [45]:
a[4],a[-1] #4번째 값(5) -1번째값(5) 출력

(5, 5)

In [46]:
a=[1,2,3,4,5,6,7,8,9,10] #리스트 선언
a[2:8] # 2번째부터 7번째까지 출력

[3, 4, 5, 6, 7, 8]

In [47]:
a[:4] #0번째부터 3번째까지 출력

[1, 2, 3, 4]

In [48]:
a[5:] #5번째부터 끝까지

[6, 7, 8, 9, 10]

In [49]:
a[0:6:3] #0번째부터 5번째까지 3씩 증가하며 출력(0 3 번째 값)

[1, 4]

In [50]:
a=[[1,2,3],[4,5,6],[7,8,9]] #2차 배열 (배열 속 배열)
a[2] #3번째 배열 출력

[7, 8, 9]

In [51]:
a[2][2] #3번쨰 배열의 3번째 값 출력(9)

9

In [52]:
a[1][3] #2번째 배열의 4번째 값 출력 (없으니 오류)

IndexError: list index out of range

In [53]:
a[1][2] #2번째 배열의 3번째 값 출력

6

In [54]:
a=[[1,2],[3,4,5],6] # 가변 형태의 리스트

In [55]:
a #a를 출력한다

[[1, 2], [3, 4, 5], 6]

In [56]:
a[2] #a의 3번째 값 출력(6)

6

In [57]:
a[1] #a의 2번째 값(배열) 출력

[3, 4, 5]

In [58]:
a=[ n * 3 for n in range (1,10)] #a에 n에 대하여 1부터 9까지 입력하며 모든 값에 3을 곱한다
a #a 출력

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [59]:
a=[ n * 3 for n in range (1,10) if n % 2 ==0 ] #n에 1부터 9까지 짝수만 입력하고 그 값에 3을 곱하여 리스트
a #출력

[6, 12, 18, 24]

In [69]:
def titleprint(): # 상단 부분 출력 구간
    print("="*50) #구분선 출력
    print("이름\t국어\t영어\t수학\t총점\t평균") #이름 및 과목 총점 평균 칸 생성
    print("="*50) #구분선 출력
    
def itemprint(name,kor,eng,mat): # 성적 입력하는 함수
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)

def tailprint(): #합산 부분 출력
    totkor=0 #국어합 지정할 변수 선언
    toteng=0 #영어합 지정할 변수 선언
    totmat=0 #수학합 지정할 변수 선언
    for one_student in score: #성적 배열의 각 과목 값을 더한다
        totkor+=one_student[kor]
        toteng+=one_student[eng]
        totmat+=one_student[mat]
    print("="*50) #구분선 출력
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t"\
        ,(totkor+toteng+totmat),"\t",(totkor+toteng+totmat)/3//9) #이름 성적 총합 평균 출력
    print("="*50) #구분선

#데이터 입력, 2차원 배열 사용
score=[["나연",100,90,100],
    ["정연",90,90,100],
    ["모모",80,70,90],
    ["사나",90,90,80],
    ["지효",100,80,80],
    ["미나",50,90,90],
    ["다현",80,60,100],
    ["채영",70,80,90],
    ["쯔위",100,90,90]]

#상수 정의, 배열에서의 성적 위치
name=0;kor=1;eng=2;mat=3

#프로그램 부분
titleprint() #제목을 출력하는 함수 실행
for one_student in score: #리스트의 값을 넣어가며 성적 출력
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])
tailprint() #합계 부분 출력

==================================================
이름	국어	영어	수학	총점	평균
==================================================
나연 	 100 	 90 	 100 	 290 	 96
정연 	 90 	 90 	 100 	 280 	 93
모모 	 80 	 70 	 90 	 240 	 80
사나 	 90 	 90 	 80 	 260 	 86
지효 	 100 	 80 	 80 	 260 	 86
미나 	 50 	 90 	 90 	 230 	 76
다현 	 80 	 60 	 100 	 240 	 80
채영 	 70 	 80 	 90 	 240 	 80
쯔위 	 100 	 90 	 90 	 280 	 93
==================================================
반총점	 760 	 740 	 820 	 2320 	 85.0
==================================================

In [73]:
a=[1,2,3,4,5] #리스트 선언
a #리스트 출력

[1, 2, 3, 4, 5]

In [74]:
del a[2] #3번째 값 삭제
a #a출력

[1, 2, 4, 5]

In [75]:
del a[2] #3번째 값 삭제
a #a출력

[1, 2, 5]

In [77]:
a.clear() #a값 전부 삭제
a

[]

In [78]:
del a #a 리스트를 삭제
a

NameError: name 'a' is not defined

In [79]:
del a
a.append(1) #append: 리스트에 값 추가, 리스트가 없으면 추가는 불가능

NameError: name 'a' is not defined

In [80]:
a=[] #리스트 선언

In [81]:
a.append(1) #1 추가
a.append(3) #3 추가
a.append(5) #5 추가
a # 출력

[1, 3, 5]

In [82]:
a=[4,5,6] #a 재정의
a.append(10) #a에 10추가
a

[4, 5, 6, 10]

In [84]:
a=[1,2,3,4,5] #a 리스트 선언
a.append(6) #맨뒤에 6추가
a #a 출력

[1, 2, 3, 4, 5, 6]

In [85]:
a.insert(3,12) #a의 4번째 위치에 12 추가
a #a 출력

[1, 2, 3, 12, 4, 5, 6]

In [86]:
a.insert(4,15) #a의 5번째 위치에 15추가

In [87]:
a

[1, 2, 3, 12, 15, 4, 5, 6]

In [88]:
a.insert(3,1) #a의 4번째 위치에 1 추가
a

[1, 2, 3, 1, 12, 15, 4, 5, 6]

In [89]:
a=[1, 2, 3, 1, 12, 15, 4, 5, 6] #리스트 선언
a[5:5] = [1, 2, 3, 4, 5, 6] #6번째 위치부터 6번째 위치까지 영역에 해당리스트 값을 입력
a

[1, 2, 3, 1, 12, 1, 2, 3, 4, 5, 6, 15, 4, 5, 6]

In [90]:
a=[1, 2, 3, 1, 12, 15, 4, 5, 6] # 리스트 선언
a[5]=[1,2,3,4,5,6] # 해당 위치에 리스트의 형태로 값 입력

In [91]:
a

[1, 2, 3, 1, 12, [1, 2, 3, 4, 5, 6], 4, 5, 6]

In [92]:
a=[1,2,3]; b=[4,5,6] #리스트 a b 선언
a=a+b #a에 ab를 병합하여 입력
a #a출력

[1, 2, 3, 4, 5, 6]

In [93]:
a=[1,2,3]; b=[4,5,6] #리스트 a b 선언
a.extend(b) #a뒤에 b 병합
a #a 출력

[1, 2, 3, 4, 5, 6]

In [94]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8] # 리스트 선언
a #출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]

In [95]:
a.remove(7) #8번째 위치에 있는 값 삭제
a #a 출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 8]

In [96]:
a[5] = [] #5번째 위치 뒤에 빈 배열 추가
a #출력

[1, 2, 3, 3, 4, [], 5, 6, 7, 7, 7, 8]

In [97]:
del(a[4]) #4번째 위치의 뒤에 값 삭제
a #출력

[1, 2, 3, 3, [], 5, 6, 7, 7, 7, 8]

In [98]:
del(a[3]) #3번째 위치의 뒤에 값 삭제
a #출력

[1, 2, 3, [], 5, 6, 7, 7, 7, 8]

In [99]:
a.clear() #리스트 안의 모든 값 삭제
a #출력, 리스트는 남아있다

[]

In [101]:
del(a) #리스트 정의까지 삭제
a #출력, 에러가 뜬다

NameError: name 'a' is not defined

In [102]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8] #리스트 선언
a.pop() #값이 없어서 마지막 8을 리턴한다

8

In [103]:
a #출력

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7]

In [104]:
a.pop() #마지막 값인 7을 리턴

7

In [105]:
a.pop(3) #4번쨰 값 리턴후 삭제(3)

3

In [106]:
a #출력

[1, 2, 3, 4, 4, 5, 6, 7, 7, 7]

In [107]:
a.pop(6) #6번째 값 리턴후 삭제(6)

6

In [108]:
a

[1, 2, 3, 4, 4, 5, 7, 7, 7]

In [109]:
a.pop(6) #7 리턴후 삭제

7

In [110]:
a.pop(0) #첫번째 값 리턴후 삭제(1)

1

In [111]:
a #출력

[2, 3, 4, 4, 5, 7, 7]

In [1]:
a = [1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8] #리스트 작성
a.index(7) #해당 값이 처음 나오는 위치 반환(8)

8

In [2]:
a.index(8) #8이 처음 나오는 위치 반환(12)

12

In [3]:
a.index(4) #4가 처음 나오는 위치 반환(4)

4

In [4]:
a.count(7) #7이 몇번 나오는지 알려줌(4)

4

In [6]:
print(min(a)); print(max(a)); len(a) #최대값(8), 최소값(1), 길이(13) 반환

1
8

13

In [7]:
a=[1,8,5,6,2,4,5,2,6,9,4] # 리스트 선언
a.reverse() #a의 순서를 반대로 바꾼다.
a #출력

[4, 9, 6, 2, 5, 4, 2, 6, 5, 8, 1]

In [8]:
a.sort() #오름차순으로 변경한다
a #출력

[1, 2, 2, 4, 4, 5, 5, 6, 6, 8, 9]

In [12]:
import random as r #랜덤함수 사용하기 위해 라이브러리 선언

def titleprint(): # 상단 부분 출력 구간
    print("="*50) #구분선 출력
    print("이름\t국어\t영어\t수학\t총점\t평균") #이름 및 과목 총점 평균 칸 생성
    print("="*50) #구분선 출력
    
def itemprint(name,kor,eng,mat): # 성적 입력하는 함수
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)

def tailprint(): #합산 부분 출력
    totkor=0 #국어합 지정할 변수 선언
    toteng=0 #영어합 지정할 변수 선언
    totmat=0 #수학합 지정할 변수 선언
    for one_student in score: #성적 배열의 각 과목 값을 더한다
        totkor+=one_student[kor]
        toteng+=one_student[eng]
        totmat+=one_student[mat]
    print("="*50) #구분선 출력
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t"\
        ,(totkor+toteng+totmat),"\t",(totkor+toteng+totmat)/3//100) #이름 성적 총합 평균 출력
    print("="*50) #구분선

one_person=[] #리스트 선언(인원의 이름, 성적을 추가)
score=[] #리스트 선언(위의 one_person의 성적을 하나하나 리스트에 추가)
for i in range(100): #10부터 99까지 1씩 증가하며 입력하는 for문 작성
    one_person.append("name"+str(i)) #이름 (0 ~ 99)
    one_person.append(r.randrange(10,100)) #국어 10부터100까지임의에값을추출
    one_person.append(r.randrange(10,100)) #영어 10부터100까지임의에값을추출
    one_person.append(r.randrange(10,100)) #수학 10부터100까지임의에값을추출
    score.append(one_person[:]) #값을 복사해서 추가함에 주의할것
    one_person.clear() #배열을 비운다.

# 리스트에서의 위치 입력
name=0; kor=1; eng=2; mat=3

#함수 실행
titleprint() #상단부 출력
for one_student in score: #성적 출력
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])
tailprint() #집계부분 출력

==================================================
이름	국어	영어	수학	총점	평균
==================================================
name0 	 70 	 27 	 81 	 178 	 59
name1 	 13 	 52 	 86 	 151 	 50
name2 	 53 	 31 	 18 	 102 	 34
name3 	 14 	 11 	 42 	 67 	 22
name4 	 76 	 87 	 46 	 209 	 69
name5 	 78 	 82 	 14 	 174 	 58
name6 	 64 	 77 	 48 	 189 	 63
name7 	 19 	 46 	 62 	 127 	 42
name8 	 71 	 54 	 62 	 187 	 62
name9 	 83 	 29 	 78 	 190 	 63
name10 	 88 	 52 	 10 	 150 	 50
name11 	 68 	 99 	 28 	 195 	 65
name12 	 60 	 21 	 86 	 167 	 55
name13 	 93 	 16 	 23 	 132 	 44
name14 	 70 	 86 	 95 	 251 	 83
name15 	 70 	 15 	 46 	 131 	 43
name16 	 97 	 92 	 30 	 219 	 73
name17 	 58 	 14 	 74 	 146 	 48
name18 	 31 	 96 	 81 	 208 	 69
name19 	 19 	 61 	 52 	 132 	 44
name20 	 96 	 89 	 80 	 265 	 88
name21 	 82 	 26 	 53 	 161 	 53
name22 	 30 	 91 	 65 	 186 	 62
name23 	 12 	 49 	 91 	 152 	 50
name24 	 59 	 71 	 60 	 190 	 63
name25 	 31 	 89 	 76 	 196 	 65
name26 	 50 	 16 	 68 	 134 	 44
name27 	 64 	 26 	 55 	 145 	 48
name28 	 13 	 40 	 30 	 83 	 27
name29 	 41 	 58 	 62 	 161 	 53
name30 	 15 	 76 	 56 	 147 	 49
name31 	 63 	 69 	 22 	 154 	 51
name32 	 67 	 69 	 16 	 152 	 50
name33 	 35 	 94 	 89 	 218 	 72
name34 	 59 	 58 	 16 	 133 	 44
name35 	 92 	 59 	 68 	 219 	 73
name36 	 47 	 49 	 47 	 143 	 47
name37 	 79 	 82 	 68 	 229 	 76
name38 	 51 	 90 	 89 	 230 	 76
name39 	 44 	 10 	 21 	 75 	 25
name40 	 34 	 79 	 23 	 136 	 45
name41 	 75 	 83 	 80 	 238 	 79
name42 	 80 	 49 	 71 	 200 	 66
name43 	 56 	 79 	 43 	 178 	 59
name44 	 85 	 90 	 16 	 191 	 63
name45 	 11 	 46 	 89 	 146 	 48
name46 	 48 	 54 	 95 	 197 	 65
name47 	 58 	 55 	 13 	 126 	 42
name48 	 63 	 66 	 58 	 187 	 62
name49 	 36 	 22 	 29 	 87 	 29
name50 	 67 	 86 	 82 	 235 	 78
name51 	 56 	 66 	 93 	 215 	 71
name52 	 95 	 55 	 69 	 219 	 73
name53 	 68 	 35 	 63 	 166 	 55
name54 	 71 	 94 	 15 	 180 	 60
name55 	 35 	 35 	 90 	 160 	 53
name56 	 34 	 26 	 92 	 152 	 50
name57 	 35 	 21 	 71 	 127 	 42
name58 	 72 	 44 	 88 	 204 	 68
name59 	 82 	 69 	 37 	 188 	 62
name60 	 51 	 97 	 97 	 245 	 81
name61 	 29 	 71 	 38 	 138 	 46
name62 	 19 	 71 	 29 	 119 	 39
name63 	 28 	 77 	 90 	 195 	 65
name64 	 74 	 84 	 90 	 248 	 82
name65 	 30 	 52 	 62 	 144 	 48
name66 	 75 	 77 	 55 	 207 	 69
name67 	 29 	 74 	 27 	 130 	 43
name68 	 21 	 88 	 47 	 156 	 52
name69 	 67 	 76 	 61 	 204 	 68
name70 	 58 	 34 	 33 	 125 	 41
name71 	 23 	 15 	 90 	 128 	 42
name72 	 44 	 78 	 37 	 159 	 53
name73 	 84 	 80 	 10 	 174 	 58
name74 	 37 	 97 	 12 	 146 	 48
name75 	 88 	 75 	 81 	 244 	 81
name76 	 65 	 13 	 87 	 165 	 55
name77 	 35 	 74 	 37 	 146 	 48
name78 	 60 	 91 	 76 	 227 	 75
name79 	 61 	 36 	 50 	 147 	 49
name80 	 29 	 27 	 50 	 106 	 35
name81 	 64 	 14 	 91 	 169 	 56
name82 	 71 	 99 	 82 	 252 	 84
name83 	 88 	 71 	 41 	 200 	 66
name84 	 39 	 85 	 37 	 161 	 53
name85 	 22 	 26 	 47 	 95 	 31
name86 	 73 	 61 	 89 	 223 	 74
name87 	 66 	 57 	 87 	 210 	 70
name88 	 75 	 96 	 77 	 248 	 82
name89 	 99 	 50 	 17 	 166 	 55
name90 	 41 	 38 	 25 	 104 	 34
name91 	 90 	 52 	 22 	 164 	 54
name92 	 31 	 78 	 58 	 167 	 55
name93 	 23 	 68 	 71 	 162 	 54
name94 	 11 	 80 	 35 	 126 	 42
name95 	 51 	 12 	 38 	 101 	 33
name96 	 19 	 84 	 40 	 143 	 47
name97 	 58 	 63 	 81 	 202 	 67
name98 	 84 	 14 	 85 	 183 	 61
name99 	 80 	 91 	 87 	 258 	 86
==================================================
반총점	 5478 	 5939 	 5680 	 17097 	 56.0
==================================================

In [13]:
a = (1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4) #튜플 a
a

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [14]:
a[5] #튜플에서 5번째 뒤의 값을 확인한다.(4)

4

In [15]:
a[3:5] #3 4 값을 출력한다.

(6, 2)

In [16]:
a[3:8] #3 4 5 6 7 을 출력한다

(6, 2, 4, 5, 2)

In [17]:
a*2 #a를 두번 출력한다.

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [18]:
a #a를 출력한다.

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [19]:
a = (1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4) #튜플선언
a #출력

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [20]:
a[1] = 5 #값 변경 불가

TypeError: 'tuple' object does not support item assignment

In [21]:
del a[4] #변수 지우기 불가

TypeError: 'tuple' object doesn't support item deletion

In [22]:
a.append(10) #추가 불가능

AttributeError: 'tuple' object has no attribute 'append'

In [25]:
def location(): #위치 출력하는 함수 선언
    latitude = 2, 17403 # 위도 입력
    longitude=41,40338 #경도 입력
    return latitude,longitude  #이런 방식의 리턴은 튜플로 반환

a=location() #함수의 리턴값 입력
print(a) #a 출력

((2, 17403), (41, 40338))

In [26]:
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95} #a 에 딕셔러니 정의
a["수학"] #a의 key가 수학인 값 출력

95

In [27]:
a["이름"] #a의 key가 이름인 값 출력

'홍길동'

In [28]:
a.keys() #a의 key 값만 출력

dict_keys(['이름', '국어', '영어', '수학'])

In [29]:
a.values() #a의 values 값 출력

dict_values(['홍길동', 100, 88, 95])

In [30]:
a.items() #a의 키와 벨류 값 모두 출력

dict_items([('이름', '홍길동'), ('국어', 100), ('영어', 88), ('수학', 95)])

In [31]:
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95} #딕셔너리 작성
for i in a.items(): # a의 키와 벨류 값을 순서대로 입력하는 for문
    print (i,end=",") # 값 출력 사이에 콤마로 구분

('이름', '홍길동'),('국어', 100),('영어', 88),('수학', 95),

In [32]:
for i in a.keys(): #키 값만 넣는 for문 작성
    print (i,end=",") #키값만 출력

이름,국어,영어,수학,

In [33]:
for i in a.values(): #벨류 값만 넣는 for문 작성
    print (i,end=",") #벨류 값 출력

홍길동,100,88,95,

In [34]:
a = {"이름":"홍길동", "국어":100, "영어":88, "수학": 95} # 딕셔너리정의
print(a.get("과학")) #해당 키의 값을 검색, 없음 출력

None

In [36]:
print(a.get("과학","없는 과목입니다")) #과학이 없다면 과목이 없습니다.

없는 과목입니다

In [37]:
print(a.get("수학","없는 과목입니다")) #수학 없으면 없는과목입니다 출력

95

In [38]:
text="""안녕하셔요. 오늘은날씨가매우화창합니다.
    그래서기분이매우좋네요
    너도기분이좋은가요랄라랄랄라라라라라라abc임마"""

a=dict() #하나의 딕셔너리 자료형을 정의

for c in text: #위에 정의한 텍스트를 하나씩 추출하여 처리
    if c not in a: #해당 추출 글자가 지금까지의 딕셔너리에 없다면
        a[c]=1 #그때는 최초 1값으로 시작
    else: #이 경우는 해당 추출 글자의 딕셔너리가 있다
        a[c] +=1 #그럼 해당 딕셔너리 키에 해당 되는 값을 하나 더함
print(a)

{'안': 1, '녕': 1, '하': 1, '셔': 1, '요': 3, '.': 2, ' ': 9, '오': 1, '늘': 1, '은': 2, '날': 1, '씨': 1, '가': 2, '매': 2, '우': 2, '화': 1, '창': 1, '합': 1, '니': 1, '다': 1, '\n': 2, '그': 1, '래': 1, '서': 1, '기': 2, '분': 2, '이': 2, '좋': 2, '네': 1, '너': 1, '도': 1, '랄': 3, '라': 7, 'a': 1, 'b': 1, 'c': 1, '임': 1, '마': 1}

In [39]:
#가다나순으로 재정렬
b=dict() #딕셔너리 정의
l=list(a.keys()) #앞에 딕서너리에 키만 뽑아 리스트를 만든다
l.sort() #해당 리스트 정렬
for c in l: #각리스트에 대하여(결국 키 값) 하나씩 뽑음
    b[c]=a[c] # 새로운 딕셔너리는 키 값 순서로 만든다.
print(b) #출력

{'\n': 2, ' ': 9, '.': 2, 'a': 1, 'b': 1, 'c': 1, '가': 2, '그': 1, '기': 2, '날': 1, '너': 1, '네': 1, '녕': 1, '늘': 1, '니': 1, '다': 1, '도': 1, '라': 7, '랄': 3, '래': 1, '마': 1, '매': 2, '분': 2, '서': 1, '셔': 1, '씨': 1, '안': 1, '오': 1, '요': 3, '우': 2, '은': 2, '이': 2, '임': 1, '좋': 2, '창': 1, '하': 1, '합': 1, '화': 1}

In [41]:
a={1,2,2,2,2,3,3,3,4,5} #집합 선언
a #출력, 중복이 삭제된다.

{1, 2, 3, 4, 5}

In [43]:
set(("a",1,2)) # 숫자형(1 2)와 문자형(a) 를 집합으로 세팅

{1, 2, 'a'}

In [44]:
set("a") #문자형(a)를 집합으로 세팅

{'a'}

In [47]:
set({"이름":"홍길동", "국어":100, "영어":88, "수학": 95}) # 키:벨류 형식의 딕셔러니형 자료를 함수로 세팅, 이때 키값만 변환된다.

{'국어', '수학', '영어', '이름'}

In [48]:
a={1,2,3,4,5} # 집합 선언
a #a 출력

{1, 2, 3, 4, 5}

In [49]:
a.add(0) #a 출력 0추가 숫자가 작아서 제일 앞에 위치할 것으로 추측

In [50]:
a #a 출력

{0, 1, 2, 3, 4, 5}

In [54]:
a.add(2.4) #a에 2.4 추가

In [55]:
a #출력

{0, 1, 2, 2.4, 3, 4, 5}

In [56]:
a.remove(3) #3을 집합에서 제거

In [57]:
a #출력

{0, 1, 2, 2.4, 4, 5}

In [58]:
A={1,2,3,4,5,6,7} #집합 선언 (A)
B={7,8,9,10} # 집합 선언(B)
A|B #두 집합의 합을 출력한다.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [59]:
A&B #두 집합의 교집합 출력

{7}

In [60]:
A-B #A집합에서 B집합과의 교집합 부분을 삭제

{1, 2, 3, 4, 5, 6}

In [61]:
{1,2,3} < {1,2} #거짓

False

In [62]:
{1,2,3} > {1,2} #참

True

In [63]:
{1,2,3} >= {1,2} #참

True

In [64]:
{1,2,3} == {1,2} #거짓

False

In [65]:
{1,2,3} >= {3,1,2} #참

True

In [66]:
{1,2,3} == {3,1,2} #참

True

In [67]:
a=["a","b","c","d","e"] # 리스트 선언
b={} #빈 딕셔너리 선언
for i in range(len(a)):
    b[i]=a[i] #a의 값을 딕셔너리로 전환
b #출력, 키값은 0 부터 순서대로 지정된다.

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [68]:
a=["a","b","c","d","e"] #리스트 선언
b=enumerate(a) # 0투터 차례의 숫자로 대입
b #출력 (형식을 지정안했음)

In [69]:
b=dict(enumerate(a)); c=list(enumerate(a)) #딕셔너리(b)와 리스트(c)를 만든다

In [70]:
b #b 출력

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [71]:
c #c 출력

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [73]:
a={1,2,3,4,5,6,7,8} #집합 선언 
b={"a","b","c","d","e"} #집합 선언
zip(a,b) #zip을 실행하면 형태를 지정해줘야한다. 우선 object로 출력 될 예정, ab를 서로 매칭해준다.

In [74]:
c = dict(zip(a,b)); d = list(zip(a,b)) #c d를 각각 딕셔너리, 리스트 형으로 지정해준다.
c #c 출력

{1: 'd', 2: 'b', 3: 'a', 4: 'c', 5: 'e'}

In [75]:
d #d 출력

[(1, 'd'), (2, 'b'), (3, 'a'), (4, 'c'), (5, 'e')]

In [76]:
a=(1,2,3,4,5,6,7,8) #튜플 선언
b=["a","b","c","d","e"] #리스트 선언
c=dict(zip(a,b)); #a b를  zip하고 딕셔너리로 지정
d=list(zip(a,b)) #a b를 zip하고 리스트로 지정

In [77]:
c #c 출력

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [78]:
d #d 출력

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [100]:
def func(x): #x를 인수로 받는 함수 선언
    if x % 2 == 0 :
        return x/2 #리턴값

x=(1,2,3,4,5,6) #튜플 선언
for i in filter(func,x): #func에 부합하는 x 를 filter
    print(i) #출력, func에 만족하는, 짝수만 출력

2
4
6

In [94]:
list(filter(func,x))

[1, 2, 3, 4, 5, 6]

In [101]:
def func(x,y): #x y를 인수로 받는 함수 선언
    return x+y

x=(1,2,3,4,5,6) #튜플 선언 
y=(7,8,9,10,11,12) #튜플 선언

for i in map(func,x,y): #인수가 여러개 > map 사용, filter x
    print(i)

8
10
12
14
16
18

In [103]:
x=(1,2,3,4,5,6) #튜플 선언
y=(7,8,9,10,11,12) #튜플 선언
for i in map(lambda x,y:x+y, x,y): # x,y를 인자로 받고 x+y값을 리턴하는 함수를 lamda형식으로 선언
    print(i) # 결과 출력

8
10
12
14
16
18

In [119]:
a=[1,2,3] #리스트 선언
b=a #b에 a copy (서로 영향을 준다.)
b[2]=5 #2번째 값을 5로 변경, a b 모두 바뀐다
a #a 출력

[1, 2, 5]

In [120]:
b #b출력

[1, 2, 5]

In [121]:
b[1] = 3 #b의 첫번째 값 3으로 변경

In [122]:
a #출력

[1, 3, 5]

In [127]:
a=[1,2,3] #리스트 선언
b=a[:] #b에 a 복사
b[2]=5 #b의 2번째 값만 5로 변경
print(a);b # a b 출력

[1, 2, 3]

[1, 2, 5]

In [128]:
a=[1,2,3] #리스트 선언
b=a.copy() #b에 a 복사
b[2]=5 #b의 2번째 값만 5로 변경
print(a);b # a b 출력

[1, 2, 3]

[1, 2, 5]

In [116]:
a=[[1,2],3,4] #리스트 선언
b=a.copy() #b에 a 옅은 복사
b #b출력

[[1, 2], 3, 4]

In [117]:
b[0][1] = 3 #0번째 배열의 1번째 요소 3으로 변경
b #출력

[[1, 3], 3, 4]

In [118]:
a #원래는 a의 값이 바뀌면 안된다. 하지만 리스트 안의 리스트는 완전히 복제하지 못해서 같이 변경된다.

[[1, 3], 3, 4]

In [129]:
a=[[1,2],3,4] #리스트 선언
b = a[:] #옅은 복사
b #출력

[[1, 2], 3, 4]

In [130]:
b[0][1] =3 #b의 값을 변경, 옅은 복사
a #a 출력, 원래는 a의 값이 바뀌면 안된다. 하지만 리스트 안의 리스트는 완전히 복제하지 못해서 같이 변경된다.

[[1, 3], 3, 4]

In [131]:
import copy as c #deepcopy를 사용하기 위해 라이브러리 사용

a=[[1,2],3,4] #리스트 선언
b=c.deepcopy(a) # b를 깊은 복사
b[0][1]=3 #b의 0번째 값의 1번째 값을 3으로 변경, a와 b는 독립적
print(a,b) #a b 출력

[[1, 2], 3, 4] [[1, 3], 3, 4]

In [132]:
a="abcde" # 문자열 지정
a[0],a[1],a[2],a[3],a[4] #출력

('a', 'b', 'c', 'd', 'e')

In [133]:
a[-1],a[2],a[-3],a[-4],a[-5] #-(마이너스)로 위치 지정

('e', 'c', 'c', 'b', 'a')

In [134]:
a="가나다라마" # 문자열 지정
a[0],a[1],a[2],a[3],a[4] #출력

('가', '나', '다', '라', '마')

In [135]:
a="abcde" #a에 문자열 입력
a[1:5] # bcde 출력

'bcde'

In [136]:
a[1:2] #1부터 1까지지, b 출력

'b'

In [137]:
a[:6] #처음부터 5까지 출력

'abcde'

In [138]:
a[3:] # 3번째부터 마지막까지

'de'

In [139]:
a[2:-2] #2부터 -2(3)전까지 출력

'c'

In [140]:
a[2:-3] #2부터 -3(2)전까지 출력, 빈칸

''

In [141]:
a[1:-1] #1부터 4전까지 출력 bcd

'bcd'

In [142]:
a="abcdefghijklmabcdefgh"
a.find("f") #처음 찾은 값의 위치를 반환

5

In [143]:
a.rfind("f") #뒤에서부터 찾고, 처음 찾은 값의 위치

18

In [144]:
a.find("i"),a.rfind("i") #앞, 뒤에서부터 검색, 단어가 한개면 똑같다

(8, 8)

In [145]:
a.index("b"),a.rindex("b") #index 함수도 결과는 동일

(1, 14)

In [146]:
a.rindex("z") # 없으면 에러

ValueError: substring not found

In [147]:
a.count("f") #해당문자의 개수를 반환

2

In [148]:
a.rfind("abc") #문자열을 넣어도 된다

13

In [149]:
a="abcdfegabcdfeg" #문자열 선언
if a.find("f") > 0: #a에 f가 있다면 (0보다 크다면)
    print ("a가들어있음") #메세지 출력

a가들어있음

In [150]:
if "f" in a : #f가 a 안에 있다면, 위와 같은 의미
    print ("a가들어있음")

a가들어있음

In [152]:
a="abcDefGh" #문자열 선언
a.upper() #a를 대문자로 변경

'ABCDEFGH'

In [153]:
a="abcDefGh" #문자열 선언
a.lower() #a룰 소문자로 변경

'abcdefgh'

In [154]:
a="   abc   def    hij     " #문자열 선언
a.lstrip() #왼쪽의 여백 삭제

'abc   def    hij     '

In [157]:
a="   abc   def    hij     " #문자열 선언
a.rstrip() #오른쪽의 여백 삭제

'   abc   def    hij'

In [158]:
a="   abc   def    hij     " #문자열 선언
a.strip() #양쪽의 여백 삭제

'abc   def    hij'

In [159]:
a="   abc   def    hij     " #문자열 선언
a.replace(" ","") #모든 여백 삭제

'abcdefhij'

In [161]:
rec="홍길동,100,95,88" # 문자열 선언
#문자열을 콤마를 기준으로 잘라서 리스트로 선언, item에 지정
item=rec.split(",")
print("="*14) #구분선 출력
print("이름: ", item[0]) #0번째 값 출력
print("국어: ", item[1]) #1번째 값 출력
print("영어: ", item[2]) #2번째 값 출력
print("수학: ", item[3]) #3번째 값 출력
print("="*14) #구분선 출력

==============
이름:  홍길동
국어:  100
영어:  95
수학:  88
==============

In [162]:
rec="본 예제는 빈칸으로 구분되어 있는 한 줄의 데이터를 빈칸을     구분하여 나누어 줌" #긴 공백 = 공백 5칸
item=rec.split(" ") #공백을 기준으로 자른다.

print("="*14) #구분선 출력
i=0 #i선언 카운트 용
for s in item: #공백을 기준으로 만든 리스트를 for문으로 돌린다.
    print(i,"==>", s) #리스트의 모든 값을 출력한다.
    i+=1 #카운트 증가
print("="*14) #구분선 출력

==============
0 ==> 본
1 ==> 예제는
2 ==> 빈칸으로
3 ==> 구분되어
4 ==> 있는
5 ==> 한
6 ==> 줄의
7 ==> 데이터를
8 ==> 빈칸을
9 ==>
10 ==>
11 ==>
12 ==>
13 ==> 구분하여
14 ==> 나누어
15 ==> 줌
==============